* {
    margin: 0;
    padding: 0;
}
body {
    font-family: consolas;
}
button {
    cursor: pointer;
    font-weight: bold;
}
h1 {
    text-align: center;
}
.UserPage, .UsersPage, .NewsPage, .NewPage {
    margin-top: 50px;
}
@include tablet {
    .UsersPage, .NewsPage, .NewPage {
        margin-top: 100px;
    }
}